.mn-button {
  &.action {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    flex: 0 0 2.5em;
    line-height: 100%;
    position: relative;
    text-align: center;
    padding: 0;

    &:not(.raised) {
      margin: 0;
    }

    &.raised {
      width: 3.5em;
      height: 3.5em;
      flex: 0 0 3.5em;
    }

    * {line-height: inherit}

    &:disabled:not(.raised) {
      background-color: transparent;
    }

    &:not(:disabled):not(.raised):before {
      content: '';
      background-color: $oc-gray-4;
      position: absolute;
      z-index: -1;
      top: 50%; left: 50%;
      transform: translate(-50%, -50%) scale(.7);
      opacity: 0;
      width: 100%; height: 100%;
      border-radius: inherit;
      transition: all .2s ease-out;
    }

    &:hover:not(.raised), &:focus:not(.raised) {
      background-color: transparent;

      &:before {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
      }
    }

    &:active:not(.raised) {
      &:before {
        background-color: $oc-gray-3;
      }
    }
  }
}
