.xp-button {
  display: inline-block;
  outline: 0;
  text-decoration: none;
  cursor: pointer;
  padding: .4rem;
  background: none;
  box-sizing: border-box;
  font-size: 1em;
  font-family: inherit;
  border-radius: 3px;
  margin: .1rem;
  transition: all .2s ease;
  user-select: none;
  line-height: 2em;
  padding: 0 .8em;

  border: 0;
  color: map-get($blue-grey, 900);

  &:hover, &:focus {
    background-color: map-get($blue-grey, 100);
  }

  &[disabled='true'], &[disabled] {
    background-color: map-get($blue-grey, 50);
    box-shadow: none;
    color: map-get($blue-grey, 200);
    pointer-events: none;
  }
}
