$white: #fff;

$blue-grey: (
  50 : rgba(0, 0, 0, .05), // #ECEFF1,
  100: rgba(0, 0, 0, .1), // #CFD8DC,
  200: rgba(0, 0, 0, .2), // #B0BEC5,
  300: rgba(0, 0, 0, .3), // #90A4AE,
  400: rgba(0, 0, 0, .4), // #78909C,
  500: rgba(0, 0, 0, .5), // #607D8B,
  600: rgba(0, 0, 0, .6), // #546E7A,
  700: rgba(0, 0, 0, .7), // #455A64,
  800: rgba(0, 0, 0, .8), // #37474F,
  900: rgba(0, 0, 0, .9), // #263238
);

$deep-purple: (
  50 : #EDE7F6,
  100: #D1C4E9,
  200: #B39DDB,
  300: #9575CD,
  400: #7E57C2,
  500: #673AB7,
  600: #5E35B1,
  700: #512DA8,
  800: #4527A0,
  900: #311B92,
  a100: #B388FF,
  a200: #7C4DFF,
  a400: #651FFF,
  a700: #6200EA
);

