$mn-primary-color: (
  50 : rgba(0, 0, 0, .05),
  100: rgba(0, 0, 0, .1),
  200: rgba(0, 0, 0, .2),
  300: rgba(0, 0, 0, .3),
  400: rgba(0, 0, 0, .4),
  500: rgba(0, 0, 0, .5),
  600: rgba(0, 0, 0, .6),
  700: rgba(0, 0, 0, .7),
  800: rgba(0, 0, 0, .8),
  900: rgba(0, 0, 0, .9),
) !default;

$mn-accent-color: $mn-primary-color !default;

// material design palette: pink
$mn-warning-color: (
  50 : #FCE4EC,
  100: #F8BBD0,
  200: #F48FB1,
  300: #F06292,
  400: #EC407A,
  500: #E91E63,
  600: #D81B60,
  700: #C2185B,
  800: #AD1457,
  900: #880E4F,
  a100: #FF80AB,
  a200: #FF4081,
  a400: #F50057,
  a700: #C51162
) !default;

