html
  meta(name='viewport' content='width=device-width, user-scalable=no')
  link(rel='stylesheet' href='styles/app.css')
body
  h2 xp-buttons
  div .xp-button
    div
      button.xp-button Button 1
      a.xp-button(href='#') Button 1

  div .xp-button.xp-flat
    div
      button.xp-button.xp-flat Button 1
      a.xp-button.xp-flat(href='#') Button 1
