html
  meta(name='viewport' content='width=device-width, user-scalable=no')
  link(rel='stylesheet' href='styles/app.css')
body
  h1 xp-buttons
  h2 .xp-button
  div
    button.xp-button flat button
    a.xp-button(href='#') flat button 2
    button.xp-button flat button
    button.xp-button flat button
    button.xp-button flat button
    button.xp-button flat button
    button.xp-button flat button
    

  h2 .xp-button.xp-raised
  div
    button.xp-button.xp-raised raised button
    a.xp-button.xp-raised(href='#') raised button
