html
  meta(name='viewport' content='width=device-width, user-scalable=no')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans')
  link(rel='stylesheet' href='mn-button.css')
  style.
    body {
      font-family: 'Open Sans', sans-serif;
      -webkit-font-smoothing: antialiased;
    }

body
  h1 Minimalist buttons

  h2 .mn-button
  div
    mn-button flat button
    a.mn-button(href='#') flat button
    mn-button flat button
    mn-button flat button
    mn-button flat button
    mn-button flat button
    mn-button(disabled) flat button disabled

  h2 .mn-button.raised
  div
    mn-button.raised raised button
    a.mn-button.raised(href='#') raised button
    mn-button.raised(disabled) disabled raised button

  h2 .mn-button.action
  div
    mn-button.action: span.zmdi.zmdi-plus
    mn-button.action: span.zmdi.zmdi-plus.zmdi-hc-2x
    mn-button.action: span.zmdi.zmdi-edit
    mn-button.action(disabled): span.zmdi.zmdi-delete

  h2 .mn-button.raised.action
  div
    mn-button.raised.action: span.zmdi.zmdi-plus
    mn-button.raised.action: span.zmdi.zmdi-plus.zmdi-hc-2x
    mn-button.raised.action: span.zmdi.zmdi-edit
    mn-button.raised.action(disabled): span.zmdi.zmdi-delete
