html
  meta(name='viewport' content='width=device-width, user-scalable=no')
  title mn-button
  base(href='/')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css')

  link(rel='stylesheet' href='https://rawgit.com/minimalist-components/mn-button/master/docs/vendor.css')
  link(rel='stylesheet' href='https://rawgit.com/minimalist-components/mn-button/master/dist/mn-button.css')
  //- link(rel='stylesheet' href='docs/vendor.css')
  //- link(rel='stylesheet' href='dist/mn-button.css')

  style.
    .mn-button.raised {background-color: white}
    .docs h3 + .mn-button {margin-left: 0}
    
    .mn-button.blue:not(.raised) {color: rgb(50,154,240)}
    .raised.blue {background: rgb(50,154,240); color: white}
    .mn-button.red:not(.raised) {color: rgb(240,62,62)}
    .raised.red {background: rgb(240,62,62); color: white}

body
  h2 mn-button

  include github-corner

  .layout-fullscreen.layout-centered    
    div.layout-container.layout-column.layout-sm-row.align-center
      button.mn-button flat button
      button.mn-button.raised raised button
      button.mn-button.raised.blue raised button with color

      div.layout-row.align-center
        button.mn-button.action: .zmdi.zmdi-plus
        button.mn-button.raised.action: .zmdi.zmdi-edit
        button.mn-button.raised.action.red: .zmdi.zmdi-delete

  .docs.layout-container
    mn-code.sh.
      # to install this module
      bower install --save mn-button

    p Or just download the main files, located in dist/

    h3 usage
    p In your html, you can use the class <b>.mn-button</b> in buttons or anchor tags, i.e.

    mn-code.html.
      <button class="mn-button">Simple button</button>
      <a href="#" class="mn-button">Other Simple button</a>

    p.
      You can use the class <strong>.mn-button</strong> with others class, <strong>.raised</strong>, and <strong>.action</strong>.

    h3 flat button
    button.mn-button flat button
    button.mn-button.blue custom flat button
    mn-code.html.
      <button class="mn-button">flat button</button>

    h3 raised button
    button.mn-button.raised raised button
    button.mn-button.raised.blue custom raised button
    mn-code.html.
      <button class="mn-button raised">raised button</button>
    
    h3 action button
    button.mn-button.action: .zmdi.zmdi-edit
    button.mn-button.action.red: .zmdi.zmdi-delete
    mn-code.html.
      <button class="mn-button action"><!-- icon here --></button>

    h3 action and raised button
    button.mn-button.raised.action: .zmdi.zmdi-edit
    button.mn-button.raised.action.red: .zmdi.zmdi-delete
    mn-code.html.
      <button class="mn-button action raised"><!-- icon here --></button>

  script(src='https://rawgit.com/minimalist-components/mn-button/master/docs/vendor.js')
  script(src='https://rawgit.com/minimalist-components/mn-button/master/dist/mn-button.js')
  //- script(src='docs/vendor.js')
  //- script(src='dist/mn-button.js')
