html
  meta(name='viewport' content='width=device-width, user-scalable=no')
  base(href='/')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans')
  style
    include ../../docs/vendor.css
  link(rel='stylesheet' href='mn-button.css')
  style.
    .mn-button.raised {background-color: white}
    .mn-button.blue {background: rgb(50,154,240); color: white}
    .mn-button.red {background: rgb(240,62,62); color: white}

body
  h2 mn-button

  include github-corner

  .layout-fullscreen.layout-centered    
    div.layout-container.layout-column.layout-sm-row.align-center
      button.mn-button flat button
      button.mn-button.raised raised button
      button.mn-button.raised.blue raised button with color

      div.layout-row.align-center
        button.mn-button.action: .zmdi.zmdi-plus
        button.mn-button.raised.action: .zmdi.zmdi-edit
        button.mn-button.raised.action.red: .zmdi.zmdi-delete

  //- .layout-container
    mn-code.sh bower install --save mn-button

    p in your html, you can use the class ```.mn-button``` in buttons or anchor tags, i.e.

    mn-code.html
      <button class="mn-button">Simple button</button>
      <a href="#" class="mn-button">Other Simple button<a>
  
  script
    include ../../public/scripts/vendor.js
  script(src='mn-button.js')
