html
  meta(name='viewport' content='width=device-width, user-scalable=no')
  link(rel='stylesheet' href='styles/app.css')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans')
  style.
    body {
      font-family: 'Open Sans', sans-serif;
    }

body
  h1 XP-BUTTONS

  h2 .xp-button
  div
    button.xp-button flat button
    a.xp-button(href='#') flat button
    button.xp-button flat button
    button.xp-button flat button
    button.xp-button flat button
    button.xp-button flat button
    button.xp-button(disabled) flat button disabled

  h2 .xp-button.xp-raised
  div
    button.xp-button.xp-raised raised button
    a.xp-button.xp-raised(href='#') raised button
    button.xp-button.xp-raised(disabled) disabled raised button

  h2 .xp-button.xp-action
  div
    button.xp-button.xp-action: span.zmdi.zmdi-plus
    button.xp-button.xp-action: span.zmdi.zmdi-edit
    button.xp-button.xp-action(disabled): span.zmdi.zmdi-delete

  h2 .xp-button.xp-raised.xp-action
  div
    button.xp-button.xp-raised.xp-action: span.zmdi.zmdi-plus
    button.xp-button.xp-raised.xp-action: span.zmdi.zmdi-edit
    button.xp-button.xp-raised.xp-action(disabled): span.zmdi.zmdi-delete
