extends demo

block styles
  link(rel='stylesheet' href='https://rawgit.com/minimalist-components/mn-button/master/docs/vendor.css')
  link(rel='stylesheet' href='https://rawgit.com/minimalist-components/mn-button/master/dist/mn-button.css')

block scripts
  script(src='https://rawgit.com/minimalist-components/mn-button/master/docs/vendor.js')
  script(src='https://rawgit.com/minimalist-components/mn-button/master/dist/mn-button.js')
